.map-page{
    display: flex;
}

map-view {
    height: 100vh;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index: 1;
}

.left-panel{
    position: relative;
    top: 8rem;
    left: 2.5rem;
    bottom: 8rem;
    z-index: 2;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.panel-title{
    padding: 1rem 2rem;
    font-size: medium;
    text-align: right;
}

.resto-content{
    position: relative;
    height: 40rem;
    width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.resto-list > li > marker::before {
    content: "";
}

.no-resto{
    margin: 1rem 2rem;
    font-size: small;
}



.resto{
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}

.resto div{
    font-size: small;
    text-align: left;
}

.right-panel{
    position: absolute;
    top: 8rem;
    right: 2.5rem;
    z-index: 2;
    background-color: white;
    border-radius: 1rem;
    height: 5rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note{    
    position: relative;
    font-size: small;
    text-align:left;
    padding: 10px 10px;
}

.loader-panel{
    position: absolute;
    top: 2rem;
    right: 4rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-page{
    position:absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress{
    margin-top: 0.5rem;
    font-weight: bold;
    color: white;
}

.pop-up-notif{
    border-radius: 1rem;
    background-color: white;
    position:absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.notif{
    margin: 2rem 2rem;
}



.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #FF3D00;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
    
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 
